<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyPMG48BMpThAd8v61R4cwE-Yn4LMEnf0</string>
	<key>GCM_SENDER_ID</key>
	<string>295939547523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drroom.drRoom</string>
	<key>PROJECT_ID</key>
	<string>dr-room-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-room-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295939547523:ios:c1933b43c6678b039c56b6</string>
</dict>
</plist>